body {
  transition: background 0.2s linear;
  background-color: rgb(225, 215, 255);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input, input:focus {
  border: none;
  outline: none;
  transition: .1s;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 10%;
}

.alert-text {
  color: white;
}

p {
  margin-top: inherit !important;
  color: #0f0f0f;
}

.logo {
  margin-top: 15%;
}

.logo-header {
  padding: 10px;
  margin-right: 15px;
  width: 250px;
}

.selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.form-landing {
  text-align: center;

}

.form-header {
  margin-top: 50px !important;
  width: -webkit-fill-available;
  margin: auto;
}

.searchbox {
  line-height: 34px;
  padding: 1px 10px;
  width: 30%;
  background-color: #f0f0f0;
}

.searchbox:focus {
  box-shadow: inset 0 0 0 1.5pt #2275ff;
}

.searchbox-header {
  width: -webkit-fill-available;
  padding: 10px;
}

.header-flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.movie-list-wrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 11rem;
  margin: 10px;
  text-align: center;
}

.card-img-top {
  height: 260px;
}

.btn-primary {
  margin-left: -4px !important;
  border-radius: inherit !important;
}

.btn-darkmode {
  position: absolute;
  top: 10px;
  right: 10px;
  border-style: solid;
}

.card-title {
  word-wrap: initial;
}

.list-group-flush>.list-group-item {
  border-bottom-width: 0;
  border-top-width: 1px;
  border-top-color: #bdbdbd;
  font-size: 15px;
  font-weight: 400;
}

.card-subtext {
  margin: 0 !important;
}

.card-body-details {
  padding: 10px !important;
}

.img-details {
  height: 496px;
}

.card-details {
  width: 21rem !important;
  float: left;
}

.status-box {
  float: right;
  padding: 1px;
  margin-left: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 13px;
  align-self: start;
}

.mild {
  background-color: #c5e197;
}

.moderate {
  background-color: #fbca8c;
}

.severe {
  background-color: #ffb3ad;
}

.none {
  background-color: #d0d0d0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.advisory-box {
  width: auto; 
  margin: auto; 
  margin: 10px 0px;
}

.card-advisory {
  background: #f6f6f5;
  width: 97%;
  align-self: center;
  padding: 10px !important;
}

.card-advisory:last-child {
  margin-bottom: 20px;
}

.round-edges {
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.round-edges-top-only {
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.scroll-container {
  height: 106px;
  width: 550px;
  white-space: nowrap;
  overflow-y: hidden;
}

.scroll-container::-webkit-scrollbar {
  height: 10px;
}

.scroll-container-header {
  position: absolute;
  margin-top: 5px;
  margin-left: 55%;
}

.img-block {
  display: inline-block;
  overflow: hidden;
}

.img-width {
  width: 71px;
  height: 106px;
}